// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.start-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.start-btn{
    padding: 10px 10px 10px 10px;
    background-color: #17EAD1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
}

.next-btn{
    height:80px;
    width:80px;
    border-radius: 50px;
    background-color: white;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    position:absolute;
    top: calc( 50% - 50px );
    right:50px;
    justify-content:center;
    align-items:center;
    display:flex;
}

.container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17EAD1;
    position: absolute;
    transition: 0.5s;
}

.image-box{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    transition: 0.5s;
    left: 35%;
    transform: rotateY(0deg);
}

.title-part-learn{
    width: 100%;
    height: 10%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img-style-learn{
    width: 100%;
    height: 90%;
}

.img-style-quiz{
    width: 100%;
    height: 100%;
}

.quiz-box{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    display: flex;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    flex-wrap: wrap;
}

.quiz-option{
    text-align: center;
    flex: 1 1 50%;
}

.option-selected{
    cursor: not-allowed;
}

.quiz-option a{
    background-color: #bbdefb;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.option-selected a{
    cursor: not-allowed;
}

.correct{
    background-color: green !important;
}

.wrong{
    background-color: red !important;
}

.yes-no-dialog{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    width: 55%;
    transform: scale(0);
    transition: 0.5s;
}

.ynd-content{
    line-height: 1.5;
}

.btn-yes-no-container{
    margin-top: 10px;
}

.yes-btn{
    padding: 10px 10px 10px 10px;
    background-color: #17EAD1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    min-width: 60px;
    display: inline-block;
}

.no-btn{
    display: inline-block;
    min-width: 60px;
    padding: 10px 10px 10px 10px;
    background-color: #E74C3C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
}

.score-display{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.hint-dialog{
    width: 175px;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 13%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    transition: 0.8s;
}

.direct-img{
    top: 40%;
    left: 20%;
    position: absolute;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    transition: 0.8s;
}

.home-btn{
    padding: 10px 10px 10px 10px;
    background-color: #17EAD1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    min-width: 60px;
    display: inline-block;
}

#quiz-part{
    transform: scale(0);
}

.quiz-animate{
    width: 30%;
    height: 70%;
    position: absolute;
    transition: 0.8s;
    left: 35%;
}

.flip-card-container{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-image-box{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.result-dialog{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    width: 55%;
    transition: 0.5s;
    position: absolute;
    transform: scale(0);
}

.icon-style{
    position: absolute;
    transition: 0.3s;
    cursor: not-allowed;
    transform: scale(0);
}

.true-icon{
    height: 40%;
}

.false-icon{
    height: 40%;
}