// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.start-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.start-btn{
    padding: 10px 10px 10px 10px;
    background-color: #17EAD1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
}

.next-btn{
    height:80px;
    width:80px;
    border-radius: 50px;
    background-color: #17EAD1;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    position:absolute;
    top: calc( 50% - 50px );
    right:50px;
    justify-content:center;
    align-items:center;
    display:flex;
}

.container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17EAD1;
    position: relative;
}

.image-box{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.title-part-learn{
    width: 100%;
    height: 10%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img-style-learn{
    width: 100%;
    height: 90%;
}

.img-style-quiz{
    width: 100%;
    height: 100%;
}

.quiz-box{
    width: 30%;
    height: 70%;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.quiz-option{
    display: inline-block;
    width: 100%;
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.quiz-option-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.yes-no-dialog{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    width: 55%;
}

.ynd-content{
    line-height: 1.5;
}

.btn-yes-no-container{
    margin-top: 10px;
}

.yes-btn{
    padding: 10px 10px 10px 10px;
    background-color: #17EAD1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    min-width: 60px;
    display: inline-block;
}

.no-btn{
    display: inline-block;
    min-width: 60px;
    padding: 10px 10px 10px 10px;
    background-color: #E74C3C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
}

.score-display{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.hint-dialog{
    width: 175px;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 13%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.direct-img{
    top: 40%;
    left: 20%;
    position: absolute;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
}